* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.bg-transparent {
    background-color: transparent;
    border: none;
}

.form-control:focus{
    background-color: transparent;
    border: none;
}

.group-img {
    margin: 0px 15px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #212529;
}

.h {
    height: 65px;
}

/* col-3 ( left-side ) */

.col-3 header{
    background-color: #2f2d52;
    color: rgb(245, 234, 234);
    height: 9%;
}

#search{
    background-color: white;
    height: 7%;
}

#groups{
    background-color: #3c3a5f;
    color: rgb(245, 234, 234);
    height: 84%; 
    overflow-y: auto;
}

/* col-9 ( right-side ) */

.col-9 header{
    background-color: #5c5a8c;
    color: rgb(245, 234, 234);
    height: 9%;
}

main {
    height: 83%;
    background-color: #dcdef7;
}

footer{
    height: 8%;
    background-color: white;
}

#group-info{
    background-color: #dcdef7;
}

#group-desc{
    height: 20%;
}

#group-members{
    height: 60%;
    overflow-y: auto;
}

.user-img{
    margin: 0px 15px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: white;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 30px;
    outline: 1px solid slategrey;
  }