body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

.message-input:focus, .search-input:focus {
  border-color: white;
} 

.message-input, .search-input{
  border-color: white;
} 

/* SignIn or SignUp */
.acontainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2d52;
}

.form{
  display: block;
  width: 400px;
  background-color: white;
  border-radius: 11px;
}

h1{
  margin: 40px;
  margin-bottom : 20px;
  color: #1c1f22;
  text-align: center;
}

input:not(.form-control){
  display: block;
  width: 80%;
  height: 40px;
  margin: 15px auto;
  padding: 7px;
  border: white;
  border-radius: 11px;
  background-color:#eef5f3;
  font-size: medium;
}

input:not(.form-control):focus{
  outline: none;
  box-shadow: 0px 0px 7px #3c3a5f;;
}

/* SignUp */
input.btn-small{
  display: inline-block;
  margin: 30px auto;
  letter-spacing: 1px;
  height: 45px;
  padding: 7px;
  width: 35%;
  background-color: #3c3a5f;
  color: white;
  font-size: medium;
  border: none;
  cursor: pointer;
  border-radius: 11px;
}

.btn-small:hover{
  background-color: #2f2d52;
}

input[type="submit"]{
  margin-right: 10%;
  float: right;
}

input[type="reset"]{
  margin-left: 10%;
}

/* SignIn */
input.btn-large{
  display: block;
  margin: 10px auto;
  letter-spacing: 1px;
  height: 45px;
  padding: 7px;
  float : none;
  width: 80%;
  background-color: #3c3a5f;
  color: white;
  font-size: medium;
  border: none;
  cursor: pointer;
  border-radius: 11px;
}

.btn-large:hover{
  background-color: #2f2d52;
}

.link{
  text-align: center;
  margin:20px 0px ;
}

/* Home */
.group-img {
  margin: 0px 15px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #212529;
}

.all-groups{
  background-color: #3c3a5f;
  color: rgb(245, 234, 234);
  height: 84%; 
  overflow-y: auto;
}

.active-group{
  background-color: rgb(47, 45, 82);
}

span, i{
  cursor: pointer;
}

i{
  font-size: 23px;
}

.user-img{
  margin: 0px 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 30px;
  outline: 1px solid slategrey;
}
